body {
  font-family: "Allan", serif;
  font-family: "Annie Use Your Telescope", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Nunito Sans", sans-serif;
}
.weather-app-container {
  background: #7fa99b;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  color: #fbf2d5;
}
.search-form-input {
  background-color: #fbf2d5;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 75%;
  color: #394a51;
}
.search-form-button {
  background-color: #fbf2d5;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
  color: #394a51;
}
header {
  border-bottom: 1px solid #394a51;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details strong {
  color: #394a51;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: space-between;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 5px;
}

.weather-app-temperature {
  font-size: 70px;
  margin-left: 5px;
}

.weather-app-units {
  font-size: 20px;
  margin-top: 20px;
}
footer {
  border-top: 1px solid #394a51;
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
a {
  color: #fbf2d5;
}
